<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/user/edit}" th:object="${user}" th:method="PATH">
    <p><input th:type="hidden" th:field="*{id}"/></p>
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p>Last mame: <input type="text" th:field="*{lastName}"/></p>
    <p>Email: <input type="text" th:field="*{email}"/></p>
    <p>Username: <input type="text" th:field="*{username}"/></p>
    <p>Password: <input type="text" th:field="*{password}"/></p>
    <p>
        <label>Role:</label><br>
        <input type="checkbox" name="roleAdmin" value="ADMIN">ADMIN<br>
        <input type="checkbox" name="roleUser" value="USER">USER<br>
    </p>
    <p><input type="submit" value="Edit user"/></p>
</form>
<br>
<input type="button" value="LOGOUT"
       onclick="window.location.href = '/logout'"/>

</body>
</html>